#Load libraries
import pandas as pd
import numpy as np

#Load data
df = pd.read_csv('titanic.csv')

#View the data
df.head()

#View data
df.head()

#Show basic information such as column names and data types
df.info()

#Show descriptive statistics of the data such as count, mean, standard deviation, and max vale

df.describe()

#Find null values

df.isnull().sum()

#Show the number of duplicate values

df.duplicated().sum()

#Replace null values (user with caution)

df.replace(np.nan,'0',inplace = True)  #replacing null values with 0

In [ ]:
#Show people count by sex and whether they survived

df.groupby(['Sex','Survived'])['Survived'].count()

Sex     Survived
female  0            81
        1           233
male    0           468
        1           109

In [ ]:
#Group people by their age - turning continous values into categorical values

df['Age_band']=0
df.loc[df['Age']<=16,'Age_band']=0
df.loc[(df['Age']>16)&(df['Age']<=32),'Age_band']=1
df.loc[(df['Age']>32)&(df['Age']<=48),'Age_band']=2
df.loc[(df['Age']>48)&(df['Age']<=64),'Age_band']=3
df.loc[df['Age']>64,'Age_band']=4
df.head(2)